<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="scripts/angular.js"></script>
    <script type="text/javascript" src="lib/ServiceList.js"></script>
    <script type="text/javascript" src="lib/factoryDemo.js"></script>
    <script type="text/javascript" src="lib/app.js"></script>
</head>
<body ng-app="MainModule">
  <section ng-controller="MainCtrl">
   <section id="menu">
   <select ng-model="selectedValue" selected ng-change="callBack()"
           ng-options=" option for option in ddOptions">

   </select>
   </section>
      <section id="dashboard">
       <article id="users" >
           <table>
               <tr>
                   <td ng-repeat="(key,value) in usersResult[0]">
                       {{key}}
                   </td>
               </tr>
               <tr ng-repeat="obj in usersResult">
                  <td>
                      {{obj.id}}
                  </td>
                   <td>
                       {{obj.name}}
                   </td>
                   <td>
                       {{obj.email}}
                   </td>
               </tr>
           </table>

       </article>
       <article id="comments">
           <table>
               <tr>
                   <td ng-repeat="(key,value) in commentsResult[0]">
                       {{key}}
                   </td>
               </tr>
               <tr ng-repeat="obj in commentsResult">
                   <td>
                       {{obj.id}}
                   </td>
                   <td>
                       {{obj.name}}
                   </td>
                   <td>
                       {{obj.body}}
                   </td>
               </tr>
           </table>
       </article>
       <article id="posts">
           <table>
               <tr>
                   <td ng-repeat="(key,value) in postsResult[0]">
                       {{key}}
                   </td>
               </tr>
               <tr ng-repeat="obj in postsResult">
                   <td>
                       {{obj.title}}
                   </td>
                   <td>
                       {{obj.body}}
                   </td>

               </tr>
           </table>
       </article>
       <article id="albums">
           <table>
               <tr>
                   <td ng-repeat="(key,value) in albumsResult[0]">
                       {{key}}
                   </td>
               </tr>
               <tr ng-repeat="obj in albumsResult">
                   <td>
                       {{obj.userId}}
                   </td>
                   <td>
                       {{obj.title}}
                   </td>

               </tr>
           </table>
       </article>
   </section>

  </section>

</body>
</html>